html {
  height: 100%;
  width: 100%;
}

body {
  background-color: green;
}

.title {
  color: red;

}

.postDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

table th {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

table tr {
  background-color: #f0f0f0;
}


.post-title {
  color: red;
  font-weight: bold;
  text-align: center;
}

.post-body {
  color: green;
  text-align: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-overlay.active {
  display: flex;
}

.loading-popup {
  background-color: #1e90ff;
  color: white;
  padding: 40px 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
