html {
  height: 100%;
  width: 100%;
}

body {
  background-color: green;
}

.title {
  color: red;

}

.postDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

table th {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

table tr {
  background-color: #f0f0f0;
}


.post-title {
  color: red;
  font-weight: bold;
  text-align: center;
}

.post-body {
  color: green;
  text-align: center;
}